* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Input */

input {
  outline: none;
  border: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

input:-ms-input-placeholder {
  color: #ffffff;
}

/* Button */

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

/* a tag */

a:hover {
  text-decoration: none;
  color: #fff;
}

.container-login {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.wrap-login {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;

  background: #9152f8;
  background: -webkit-linear-gradient(to bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(to bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(to bottom, #7579ff, #b224ef);
  background: linear-gradient(to bottom, #7579ff, #b224ef);
}

/*------------------------------------------------------------------
  [ Form ]*/

.login-form-logo {
  font-size: 60px;
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login-form-title {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 30px;
}

.wrap-input-active {
  border-bottom-color: white;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 1s;
}

.input {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

.input::placeholder {
  color: rgb(223, 222, 222);
}

/*---------------------------------------------*/

.icon {
  position: absolute;
  left: 6px;
  top: 13px;
  color: white;
}

.input-active {
  top: -10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.input:focus {
  padding-left: 5px;
}

/*==================================================================
  [ Restyle Checkbox ]*/

.wrap-checkbox-label {
  display: flex;
}

.invisible {
  display: none;
}

.rememberMe-check {
  color: white;
  cursor: pointer;
}

.rememberMe-uncheck {
  color: white;
  cursor: pointer;
}

.contact-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox {
  display: none;
}

.label-checkbox {
  font-size: 13px;
  color: #fff;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}
/* Forgot password div */

.div-forgotPassword {
  text-align: center;
  padding-top: 80px;
}

.div-forgotPassword:hover {
  color: white;
}
.a-forgotPassword {
  color: #cccccc;
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #9152f8;
  background: -webkit-linear-gradient(to top, #7579ff, #b224ef);
  background: -o-linear-gradient(to top, #7579ff, #b224ef);
  background: -moz-linear-gradient(to top, #7579ff, #b224ef);
  background: linear-gradient(to top, #7579ff, #b224ef);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn:hover {
  color: #fff;
}

.login-form-btn:hover:before {
  opacity: 0;
}

/*------------------------------------------------------------------
  [ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login {
    padding: 55px 15px 37px 15px;
  }
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
